<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ApartmentManagement.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apartments">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Apartments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"/residents/add")">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Residents
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/residents" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Residents
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"/QuickGridDemo")">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Quick Grid Demo
            </NavLink>
        </div>
    </nav>
</div>

