@page "/apartments"
@using ApartmentManagement.Application.DTOs
@inject ApartmentManagement.Application.Services.ApartmentService ApartmentService

<h3>List of Apartments</h3>

@if (apartments == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-sm border-0">
                    <div class="card-body bg-light">
                        <h4 class="card-title mb-4 text-center">
                            Add Apartment
                        </h4>

                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Name
                            </label>
                            <input class="form-control"
                                   placeholder="e.g. Green View Residency"
                                   @bind="name" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Address
                            </label>
                            <input class="form-control"
                                   placeholder="Street, Area, City"
                                   @bind="address" />
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary"
                                    @onclick="AddApartment">
                                Add Apartment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Flats</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in apartments)
            {
                <tr>
                    <td>@apartment.Name</td>
                    <td>@apartment.Address</td>
                    <td>
                        <NavLink href="@($"/flats/{apartment.Id}")">
                            View Flats (@apartment.FlatCount)
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private IReadOnlyList<ApartmentDto>? apartments;
    private string name = string.Empty;
    private string address = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        apartments = await ApartmentService.GetApartmentsAsync();
    }

    private async Task AddApartment()
    {
        await ApartmentService.AddApartmentAsync(name, address);
        apartments = await ApartmentService.GetApartmentsAsync();

        name = string.Empty;
        address = string.Empty;
    }
}

